<div itemscope itemtype="http://schema.org/LocalBusiness" id="page" class="hfeed site">
  <meta itemprop="name"       content="Webshop Simsek" />
  <meta itemprop="image"      content="{{ site.image }}" />
  <meta itemprop="url"        content="{{ site.url }}" />
  <meta itemprop="telephone"  content="+43 1234567890" />
  <meta itemprop="email"      content="support.ticket@simsek.at" />
  <meta itemprop="priceRange" content="€" />

  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <meta itemprop="streetAddress"   content="Mustermannstraße 1" />
    <meta itemprop="addressLocality" content="Wien" />
    <meta itemprop="addressRegion"   content="AT" />
    <meta itemprop="postalCode"      content="1010" />
    <meta itemprop="addressCountry"  content="AT" />
  </div>

  <header id="masthead" class="site-header">
    <img id="banner-video" src="{{ '/assets/images/bg.png' | relative_url }}" alt="Webshop Simsek Banner" />
    <a class="home-link" href="{{ '/#page' | relative_url }}" title="Webshop Simsek" rel="home">
      <p class="site-description">{{ site.description }}</p>
    </a>
  </header><!-- #masthead -->

  <div id="navbar" class="navbar">
    <nav id="site-navigation" class="main-navigation">
      <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
      <div class="menu-container">
        <input id="home-dropdown" type="checkbox" name="menu" />
        <label for="home-dropdown" class="menu-toggle">Menu &raquo;</label>
        <ul class="nav-menu">
          {% for item in site.data.nav %}
          <li>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {%- if site.search -%}
      {%- include search/searchbar.html -%}
      {%- endif -%}
    </nav><!-- #site-navigation -->
  </div><!-- #navbar -->

</div>