---
layout: default
---
<article id="post" class="hentry">
  <div hidden class="author vcard"><a class="fn">Cihat Simsek</a></div>
  <div hidden class="updated">{{ site.time }}</div>
  <div class="entry-content">
    {{ content }}
  </div><!-- .entry-content -->
</article><!-- #post -->

<div id="sidebar" class="sidebar-container" role="complementary">
  <div class="sidebar-inner">
    <div class="widget-area">
      <aside class="widget">
        <h3 class="widget-title">Consumer Store</h3>
        <p>
          Willkommen in unserem Webshop – einfach auf Store klicken um die neusten Produkte zu genießen!
        </p>
        <p class="center">
          <a href="{{ '/store/' | relative_url }}" class="button">Store</a>
        </p>
      </aside>
    </div>
  </div>
</div>